<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @state.population %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @state.abbreviation %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to "Back to All States", states_path %> |
<%= link_to 'Counties', state_counties_path(@state) %>
