
<p id="notice"><%= notice %></p>

<p>
  <strong>State Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>County Name:</strong>
  <%= @county.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @county.population %>
</p>


<%= link_to "Back to #{@state.name} Counties", state_counties_path %> |
<%= link_to "Edit", edit_state_county_path(@state, @county) %> |
<%= link_to "Destroy", state_county_path(@state, @county), method: :delete, data: { confirm: 'For real?'} %>
